王子韬/week08/couplet/vocabs
王子韬/week08/couplet/test/.in.txt.swp
王子韬/week08/couplet/test/.out.txt.swp
王子韬/week08/couplet/test/in.txt
王子韬/week08/couplet/test/out.txt
王子韬/week08/couplet/train/in.txt
王子韬/week08/couplet/train/out.txt
